.pianobody{
    background-color: rgb(63, 4, 4);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: table-cell;
}
.white{
    width: 36px;
    height: 300px;
    background-color: rgba(238, 228, 228);
    background: linear-gradient(90deg, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
    display: inline-block;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.white.pressed{
    background: linear-gradient(89.5deg, rgba(50,50,50,1) 0%, rgba(229,229,229,1) 15%, rgba(255,255,255,1) 100%), linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(130,130,130,1) 25%, rgba(255,255,255,1) 100%)
}

.black{
    width: 28px;
    height: 200px;
    background-color: black;
    background: linear-gradient(180deg, rgba(0,0,0,1) 80%, rgba(75,75,75,1) 90%);
    display: inline-block;
    vertical-align: top;
    position: absolute;
}

.black.pressed{
    background: linear-gradient(180deg, rgba(75,75,75,1) 0%,rgba(0,0,0,1) 5%);
}

.correct{
    background: green;
}

#o0a.black {
    left: 22px;
}

#o1c.black{
    left: 98px;
}

#o1d.black{
    left: 136px;
}

#o1f.black{
    left: 212px;
}

#o1g.black{
    left: 250px;
}

#o1a.black{
    left: 288px;
}

#keyboard{
    width: 1400px;
    height: 300px;
    position: relative;
    font-size: 0px;
    display: inline-block;
}

.lamp{
    border-radius: 50%;
    display: block; 
    width: 100%; 
    height: 100%;    
}


@keyframes blink-red {
    5% {
        background: radial-gradient(circle, rgb(255, 0, 0, 1) 0%, rgb(255, 0, 0, 0) 5%);
    }
    20% {
        background: radial-gradient(circle, rgb(255, 0, 0, 1) 20%, rgb(255, 0, 0, 0) 30%);
    }
    30% {
        background: radial-gradient(circle, rgb(255, 0, 0, 1) 30%, rgb(255, 0, 0, 0) 40%);
    }
    40% {
        background: radial-gradient(circle, rgb(255, 0, 0, 1) 40%, rgb(255, 0, 0, 0) 50%);
    }
    50% {
        background: radial-gradient(circle, rgb(255, 0, 0, 1) 50%, rgb(255, 0, 0, 0) 60%);
    }
    60% {
        background: radial-gradient(circle, rgb(255, 0, 0, 1) 60%, rgb(255, 0, 0, 0) 70%);
    }
    70% {
        background: radial-gradient(circle, rgb(255, 0, 0, 1) 70%, rgb(255, 0, 0, 0) 80%);
    }
    80% {
        background: radial-gradient(circle, rgb(255, 0, 0, 1) 80%, rgb(255, 0, 0, 0) 90%);
    }
    90% {
        background: radial-gradient(circle, rgb(255, 0, 0, 1) 90%, rgb(255, 0, 0, 0) 100%);
    }
  } 

.blinking-red{
    animation: blink-red 0.5s ease 0s infinite normal forwards;
}

@keyframes blink-green {
    5% {
        background: radial-gradient(circle, rgb(0, 255, 0, 1) 0%, rgb(255, 0, 0, 0) 5%);
    }
    20% {
        background: radial-gradient(circle, rgb(0, 255, 0, 1) 20%, rgb(255, 0, 0, 0) 30%);
    }
    30% {
        background: radial-gradient(circle, rgb(0, 255, 0, 1) 30%, rgb(255, 0, 0, 0) 40%);
    }
    40% {
        background: radial-gradient(circle, rgb(0, 255, 0, 1) 40%, rgb(255, 0, 0, 0) 50%);
    }
    50% {
        background: radial-gradient(circle, rgb(0, 255, 0, 1) 50%, rgb(255, 0, 0, 0) 60%);
    }
    60% {
        background: radial-gradient(circle, rgb(0, 255, 0, 1) 60%, rgb(255, 0, 0, 0) 70%);
    }
    70% {
        background: radial-gradient(circle, rgb(0, 255, 0, 1) 70%, rgb(255, 0, 0, 0) 80%);
    }
    80% {
        background: radial-gradient(circle, rgb(0, 255, 0, 1) 80%, rgb(255, 0, 0, 0) 90%);
    }
    90% {
        background: radial-gradient(circle, rgb(0, 255, 0, 1) 90%, rgb(255, 0, 0, 0) 100%);
    }

  } 

.blinking-green{
    animation: blink-green 0.5s ease 0s infinite normal forwards;
}
  

